/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: "IBM Plex mono", monospace;
  --font-size-m: 18px;

  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");

  --corners-color: var(--accent-color);

  --title-color: #db00ff;
  --title-accent-color: var(--accent-color);

  --header-display-rec: block;
  --header-button-color: var(--accent-color);

  --content__title-color: var(--accent-color);
  --content__text-color: #f1b2ce;

  /* @media переменные 365 < width */
  /* Плавно меняем отступ с 10px на 20px */
  --medium-ten-to-twenty-pixels-shift: clamp(
    0.625rem,
    0.0286rem + 2.5445vw,
    1.25rem
  );
}
